@media (max-width: 414px){
  .container {
    width: 100%;
    height: 100%;
    /* CSS Smooth Scroll */
    overflow-y: visible;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  }
  body {
    font-family: 'Roboto';
    background: #242424;
    color: #fff;
    height: 100vh;
    line-height: 1.6;
    overflow: scroll; 
    
  }
}
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

  html{
    box-sizing: border-box;
  }

  @font-face {
    font-family: 'inconsolataregular';
    src: url('inconsolata-variablefont_wdthwght-webfont.woff2') format('woff2'),
         url('inconsolata-variablefont_wdthwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

  body {
    font-family: 'Roboto';
    background: #242424;
    color: #fff;
    height: 100vh;
    line-height: 1.6;
    overflow: hidden; 
    
  }
  
  .container {
    width: 100%;
    height: 100%;
    /* CSS Smooth Scroll */
    overflow-y: scroll; 
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  }
  
  .lead {
    font-size: 1.5rem;
  }
  
  .navbar {
    font-family: 'roboto';
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    /* background: rgba(0,0,0,0.7); */

    margin-top: 1em;
  }
  
  .navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    padding-top: 1rem;
  }
  
  .navbar ul li {
    margin: 0 1rem;
    padding: 1rem;
    text-transform: uppercase;
  }
  
  .navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #f4f4f4;
    font-weight: lighter;
    padding: 0.5em;
  }
  
  .navbar ul li a:hover {
    background: white;
    color: black;
    border-radius: 15px;
    
  }

  .vl{
    background: white;
    width: 2px;
    height: 2em;
  }
  .logo{
    margin-left: 1em;
    height: 5em;
    border-radius: 50%;
    margin-right: 1em;
  }
  section {
    width: 100%;
    height: 100vh;
    font-family: 'Inconsolata';
    overflow-x: hidden;
    /* Scroll Snap */
    scroll-snap-align: center;
  }

  section#home{
    background: url('public/img/pexels-henry-&-co-1939485.jpg.png') no-repeat center center/cover;;
    display: flex;
    flex-direction: column;
  }


  /* SPACE AT LEFT */
  .space-left{
    margin-left: 18.2vw;
  }
  .spaceLeftText{
    margin-left:3.5vw;
  }
  .flexouter{
    margin-left:3vw;
    display: flex;
    align-items: center;
    gap:1.5em;
    margin-right: 1em;
  }


/* Section home */
  .counter-name{
    background: #F27807;
    display: flex;
    align-items: center;
    gap: 5em;
    padding: 2em;
    height: 5em;
    width: 100%;
    top: 248px;
    border-radius: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 5em;
    padding: 5em;
    padding-left: 2.5em;
  }
  .namehome{
    font-family: Roboto;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 600;
    line-height: 75px;
    letter-spacing: 0em;
    text-align: left;
  }
  .vl-home{
    width: 78px;
    height: 0px;
    left: 614px;
    top: 284px;

    border: 4px solid #FFFFFF;
    transform: rotate(90deg);

    margin-left: -5em;
  }
  .countdown{
    font-family: 'Roboto';
    font-size: 44px;
    font-weight: 600;
    line-height: 75px;
    letter-spacing: 0em;
    text-align: left;
  }
  .description{
    font-family: 'Inconsolata', monospace;
    font-weight: 300, Light;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    margin-right: 50px;

  }
  .flexline{
    display: flex;
    margin-top: 2em;
  }
  .line{
    width: 0.3em;
    background-color: #fff;
    margin-right: 1.75em;
  }
  .time-socialmedia{
    display:flex;
    align-items: center;
    gap: 4em;
    margin-top: 2.25em;
    font-family: 'Inconsolata';
  }
  .socialMedia img{
    width: 4.5em;
  }
  .date{
    font-family: 'Inconsolata';
    font-weight: 400;
    font-size: 24px;
    display: flex;
    align-items: center;
    gap:10px;
    color:white;

  }
  .time{
    font-family: 'Inconsolata';
    color: #F27807;
    font-size: 32px;
    font-weight: 600;
  }
  .showMint{
    margin-top: 2em;
    display: flex;
    gap: 4em;
  }
  .show{
    width: 343px;
    height: 355px;
    left: 441px;
    top: 676px;

    background: rgba(62, 62, 62, 0.5);
    backdrop-filter: blur(50px);

    display:flex;
    flex-direction: column;
  }
  .show img{
    width: 313px;
    margin: auto;
    height: auto;
    border: solid rgba(255, 255, 255, 00.5em)
  }
  .showB{
    width: 343px;
    height: auto;
    left: 441px;
    top: 676px;

    background: rgba(62, 62, 62, 0.5);
    backdrop-filter: blur(50px);

    display:flex;
    flex-direction: column;
  }
  .mintButton{

    z-index: 5;
    width: 50%;
    margin: auto;
    margin-bottom: -4em;
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 62px;;
  }
  .NFT{
    font-family:'Inconsolata' ;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
  }
  .NFTB img{
    margin-top: -10px;
  }
  .blur{
    margin-bottom: -21.45em;
    background: rgba(16, 16, 16, 0.5);
    backdrop-filter: blur(30px);
    width: 100%;
    height: 100%;
    z-index: 4;
  }


  
  /*Section About*/
  section#about-the-project{
    background-color:  #242424;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    align-items: center;

  }
  section#about-the-project h1{
    font-weight: 400;
    font-size: 36px;
  }
  section#about-the-project h2{
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2em;
  }
  section#about-the-project span{
    color:#F27807;
  }
  S{
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.5);
  }
  .textAbout{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50vw;
    text-transform: uppercase;
  }
  .about{
    margin-left: 12vw;
  }





  section#roadmap{
    background-color: #F27807;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .titleR{
    z-index: 6;
    margin-bottom: 100px;
    font-size: 28px;
  }
/* 

  .roadmappoints{
    display: flex;
    overflow-x: scroll;
  }

  .roadmappoint{
    flex:none;
    background: red;
    margin-left: 1vw;
    width: 10vw;
    height: 20vh;
  } */
  .outer {
    overflow:hidden;
    transition: transform .4s ease-in;
    scroll-behavior: smooth;
    
  }
  
  .containerR {
    display: flex;
    transition: transform .4s ease-in;
    
  }
  
  .inner {
    flex: none;
    display: flex;
    flex-direction: column;
    gap: 1.5em;

    width: 20vw;
    height: 50vh;
    
    margin:10px;

    background-color: #444444;
    border-radius: 15px;
    
    overflow: hidden;
    transition: transform .4s ease-in;
  }
  /* .contentInner{
    width: 15vw;
    height: 45vh;
    margin-left: 1em;
    margin-top: 2em;
    margin-bottom: 1.5em;
  } */
  .hole{
    width: 60px;
    height: 60px;
    left: 553px;
    top: 3070px;
    border-radius: 50%;

    background: #F27807;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);


    margin-left: 0.8em;
    margin-top: 1em;

    font-family: 'Monoton';
    text-align: center;
    font-size: 32px;
    line-height: 2em;
  }

  .textH{
    margin-left: 1.2em;
    margin-right: 1em;
  }

  /* .paddle {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    background:rgba(0, 0, 0, 0.25);
    border: #f4f4f4;

  } */

  .lefty {
    width: 8em;
    height: 4em;
    border-radius: 50%;
    background:rgba(0, 0, 0, 0.25);
    border: #f4f4f4;

  }

  .righty{
    width: 8em;
    height: 4em;
    border-radius: 50%;
    background:rgba(0, 0, 0, 0.25);
    border: #f4f4f4;

  }

  section#foreshadowing{
    background-color:  #242424;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    align-items: center;

  }

  section#foreshadowing h1{
    font-weight: 400;
    font-size: 36px;

  }
  
  section#foreshadowing h2{
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2em;
  }

  section#foreshadowing span{
    color:#F27807;
  }

  /*Section meet-the-team*/
  section#meet-the-team{
    background: #F27807;
  }


  /*Section FAQ*/

  /*Section for centering*/
  section#faq{
    background-color:  #242424;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    justify-content: center;

  }

  section#faq h1{
    font-weight: 400;
    font-size: 36px;

  }
  
  section#faq span{
    color:#F27807;
  }
  /* section#faq{
    
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  } */
  .containerFAQ{
    width: 100;
    max-width: 80rem;
    margin: 0;
    padding: 0 1.5rem;
  }
  .accordion-item{
   background-color: #242424;
   border-radius: .4rem;
   margin-bottom: 1rem;
   padding: 1rem;
   box-shadow: .5rem 2px .5rem rgba(0,0,0,.1);
  }
  .accordion-link{
    font-size: 1.6rem;
    color: rgba(255, 255, 255, .8);
    text-decoration: none;
    background-color: #242424;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
  }
  .accordion-link i{
   color: #e7d5ff;
   padding: .5rem;
  }


.accordion-link .ion-md-remove{
   display: none;
  }
  
  .answer{
   max-height: 0;
   overflow: hidden;
   position: relative;
   background-color: #181818;
   border-radius: 15px;
  }
  
  .answer::before{
    content: "";
    position: absolute;
    width: .6rem;
    height: 90%;
    background-color: #F27807;
    top: 50%;
     left: 0;
    transform: translateY(-50%);
  }

 .answer p{
    font-size: 1.4rem;
    color: rgba(255, 255, 255, .6);
    padding: 2rem;
  }

  .accordion-item:target .answer{
    max-height: 20rem;
    transition: max-height 850ms;
  }

  .accordion-item:target .accordion-link .ion-md-add{
    display: none;
  }

  .accordion-item:target .accordion-link .ion-md-remove{
    display: block;
  }
